
<div id="form">
	<div data-position="0" class="dimension-placeholder">
		<div class="dimension-box chart-wrapper">
			<div class="heading">
				<h3>Charts</h3>
			</div>
			<ul id="chart" class="dimension chart">
				<li><input type="radio" name="chart-type" value="column"> &nbsp; Column</li>
				<li><input type="radio" name="chart-type" value="line"> &nbsp; Line</li>
				<li><input type="radio" name="chart-type" value="area"> &nbsp; Area</li>
				<li><input type="radio" name="chart-type" value="bar"> &nbsp; Bar</li>
				<li><input type="radio" name="chart-type" value="pie"> &nbsp; Pie</li>
				<li><input type="radio" name="chart-type" value="stacked-area"> &nbsp; Stacked Area</li>
			</ul>
		</div>
	</div>

	<div id="dimensions"></div>

	<div class="actions">
		<button id="submit">Submit</button>
	</div>
</div

<div id="results">
	<div id="highcharts"></div>
</div>



<script>
	var dimensions = <%== @dimensions.to_json %>;
	var dimensions_data = <%== @dimensions_data.to_json %>;
</script>


<script type="text/template" id="dimension-item">
	<div class="dimension-placeholder dimension-droppable">
		<div class="droppable" data-dimension="<%%= name %>" data-position="<%%= position %>" >
			<div class="dimension-box draggable" data-dimension="<%%= name %>" data-position="<%%= position %>">
				<div class="heading">
					<h3><%%= name %></h3>
				</div>
				<div id="<%%= name %>" class="dimension"></div>
				<div id="selected_<%%= name %>" class="dimension selected"></div>
			</div>
		</div>
	</div>
</script>

<script type="text/template" id="dimension-selected-item">
	<%%= text %>
</script>