$primary-bg-color: #fff;
$primary-action-color: #4285f4;
$primary-action-hover-color: #222;
$primary-font-color: #000;

$button-bg-color: #ddd;
$primary-button-bg: #51D282; 
$primary-button-hover-bg: #35BD69; 
$secondary-button-bg: #aaaaaa; 
$secondary-button-hover-bg: #7c7c7c; 

$unpublished-color: #DDEEFF;
$special-case-color: #FFEEEE;
$edited-color: #ace000;
$pending-approval-submit-color: #FF0000;
$submitted-color: #fac400;
$pending-scheduled-color: #ace000;
$scheduled-color: #999999;
$sales-text-color: #dd0000;
$gts-color: #45AE45;
$selected-color: #F6FFDB;
$mozo-review-color: #CC99C6;
$read-only-color: #999;

$swatch-mz-1:#57D084;
$swatch-mz-2:#666C7D;
$swatch-mz-3:#ededed;

$very-light-grey:#ededed;
$light-grey:#dddddd;
$dark-grey:#cccccc;