// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dimensions {margin:10px; height:300px;}

h3 {padding-bottom:5px;}

.dimension-wrapper {
	width: 250px;	
	float:left;
	position: relative;
	margin-right:10px;
	padding:10px;
	background:#f7f7f7;
	border: 1px solid #ddd;
}

.dimension {
	overflow: scroll;
	margin-top:2px;
	border: 1px solid #ddd;
	display: block;
	height: 100px;
	padding: 0;
	background:#fff;
}

.chart-wrapper {
	background: #ddd;
}

.chart {
	height:204px;
	background: none;

}

li {padding:5px; font-size:12px; white-space: nowrap;}

.selected li i {float:right; cursor:pointer;}

li + li {margin-top:2px; border-top:1px solid #ddd;}