// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dimensions {margin:10px; height:300px; }

h3 {}

.dimension-wrapper {
	box-sizing: border-box;
	width: 260px; 
	position: relative;
	padding:5px;
	background:#f7f7f7;
	border: 1px solid #ddd;
}

.dimension-wrapper:hover {
	background: #ddd;
}

.heading {
	padding: 5px;
}

.heading:hover {
	cursor: move;
}

.dimension {
	box-sizing: border-box;
	float:none;
	margin:5px;
	overflow: scroll;
	margin-top:2px;
	border: 1px solid #ddd;
	display: block;
	height: 104px;
	padding: 0;
	background:#fff;
}

.dimension-placeholder {width:260px; height:260px; float:left; 	margin-right:10px; border: 4px solid #ddd;}

.dimension-droppable {border: 4px solid #66CD00;}

.droppable {}


.chart-wrapper {
	background: #ddd;
	height: 260px;
}

.chart {
	height:204px;
	background: none;

}

li {padding:5px; font-size:12px; white-space: nowrap;}

.selected li i {float:right; cursor:pointer;}

li + li {margin-top:2px; border-top:1px solid #ddd;}

