// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dimensions {margin:10px; height:600px;}

.dimension-wrapper {
	width: 250px;	
	float:left;
	position: relative;
}

.dimension {
	overflow: scroll;
	margin-right:10px;
	margin-top:5px;
	border: 5px solid #ddd;
	display: block;
	height: 250px;
	padding: 0;
}


li {padding:5px; font-size:12px; white-space: nowrap;}

.selected li i {float:right; cursor:pointer;}

li + li {margin-top:2px; border-top:1px solid #ddd;}